body {
	width: 100%;
	background-image: url('/static/image/fundo.jpg');
	background-size: cover;
}

#centerPage {
	padding-top: 10px;
	width: 100%;
	min-height: 464px;
	background-color: rgba(255, 255, 255, 0.7);
}

.card-dados{
	padding: 15px 0;
	width: 100%;
	max-height: 150px;
	color: black;
	text-align: center;	
	max-width: 100%;
	border-radius: 10px; 
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.book-form-style{
	width: 100%;
	font-size: 14px;
	padding: 5px;
}


.book-form-style .label-formart{
	max-width: 20%;
	min-height: 50px;
	padding-top: 9px;
	text-align: center;
}

.text-control {
	height: 100px;
}

.comentario-format {
	height: 100px;
}

.form-control{
	max-width: 65%;
	min-height: 45px !important;
	padding: 10px;
	float: right;
}

#form-book{
	width: 100%;
}

#filePut{
	width: 80%;
}

#lidoLB{
	min-width: 130px !important;
}

.card-dados p {
	font-size: 18px !important;
	padding-top: 8px;
}

#Welcome{
	padding: 10px 0 15px 0;

}

.header-message-align {
	margin: 0 0 30px 0;
}

.welcome-text{
	color: white;
}

.welcome-text:hover{
	color: black;
}


.Selector-Button{
	background-color: rgba(247,247,247, 0.9);
	color: black;
	width: 300px;
	max-width: 95%;
	min-height: 60px;
	font-size: 14px;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.buttons-conteiner{
	padding: 1% 0;
	text-align: center;
	width: 100%;

}

.ul-size {
	max-height: 200px !important;
	overflow: auto !important;
	max-width: 95%;
	width: 300px;
}


.ul-size a{
	text-decoration: none; 
	color: black;
}

.ul-size a:hover{	
	background-color: #d9534f !important;
	border-radius: 0px; 
	color: white !important;
	text-shadow: 1px 1px 1px #111111;
}

.book-space {
	padding: 2% 4%;
}

.card-align-control{
	display: flex;
	align-items: center !important;
	padding: 20px 10px;
	width: 100%;
}

.card-body p{
	min-height: 50px;
}

.card-size-control{
	align-items: center;
	margin: 10px 0;
	min-height: 530px; 
	padding: 2px;
	width: 100% !important;
	background-color: rgb(217, 83, 79);
}


.card-color{
	width: 99%;
	background-color: white;
	height: 523px;
}

.categorias {
	text-align: center;
	margin: -60px 0 10px 0;
	padding: 2px;
	height: 100px;
	max-width: 100%;
}

.categorias a{
	min-width: 46%;
	max-width: 40%;
	max-height: 90px;
	float: left;
}

.card-button {
	max-width: 50%;
	width: 40%;

}

.card-footer-control{
	width: 100%;
	height: 40px;
	clear: both;
	margin-bottom: 10px;
}

.card-footer-control a{
	margin-top: -35px;
	color: white;
	text-shadow: 1px 1px 1px #111111;
}

.card img {
	padding-top: 30px;
	max-height: 200px;
	max-width: 200px; 
}

.input-textarea{
	border: 1px solid #ccc;
  	overflow: auto;
  	word-break: break-word;
}

