
#siderbar{
	background-color: blue;
}

#register{
	margin: 0px;
	width: 25%;
}

#alert_login{
	max-height: 40px; 
	text-align: center;
}

#alert_login p{
	margin-top: -10px; 
}

#submitBt{
	margin: 1%;
	width: 25%;
}

#formLogin label{
	padding: 0% 3%;
}

.textConteiner{
	text-align: center;
	width: 90%;
	min-height: 380px;
	padding: 4% 4%;
	margin: 0% 2% 2% 5%;
	border-radius: 10px; 
	background-color: white;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.textConteiner button{
	min-width: 120px;
}


.modelStyle{
	text-align: center;
}

#conteudo {
	background-image: url('/static/image/reading.jpg');
	background-size: cover;
	min-height: 449px;
	padding-top: 3%; 
}














.card {
	margin: 20px 0;
	width: 100%;
	min-width: 200px;
	min-height: 320px;
}

.card-inside {
	margin: 1%;
	background-color: white;
}	

.card-head button {
	position: fixed;
	padding: 2px 10px;
}

.card-head {
	background-image: url('app/static/image/reading.jpg');
	background-size: cover;
	width: 100%;
}

#centerPage .col-sm-4 {
	float: center; 
}

.card-body {
	text-align: left;
}

.card-head {
	text-align: center;
	min-height: 160px;
}

#centerPage {
	padding-top: 30px;
	background-color: white;
	width: 100%;
	min-height: 444px;
}
