body {
	width: 100%;
}

header{
	width: 100%;
}

header nav {
	width: 100%;
	height: 110px;
}

#navbarNavDropdown{
	width: 100%;
}

.menu-item{
	padding: 0px 7px 0px 5px; 
}

#logo-menu {
	max-width: 80%; 
	float: left;
}

#button-menu {
	max-width: 20%; 
	float: right; 
	padding-top: 20px;	
}

#logo h2{
	text-decoration: none;
	text-align: left;
	color: #FFFFFF;
	text-shadow: 3px 3px 3px #111111;
	width: 80%;
	padding-top: 1px;
}

footer {
	height: 80px;
}
footer p{
	padding: 30px 0px;
}
.footer-p  {
	width: 100%;
	text-align: center;
}

