body {
	width: 100%;
}

header{
	width: 100%;
	min-height: 90px;
}

header nav {
	width: 100%;
}

#navbarNavDropdown{
	width: 100%;;
}

.text-light{
	padding: 0 3%;
}

#logo-menu {
	max-width: 80%; 
	float: left;
}

#button-menu {
	max-width: 20%; 
	float: right; 
	padding-top: 20px;	
}

#logo{
	text-decoration: none;
	text-align: left;
	color: #FFFFFF;
	text-shadow: 3px 3px 3px #111111;
	width: 80%;
	padding-top: 1px;
}


#siderbar{
	background-color: blue;
}

#register{
	margin: 0px;
	width: 25%;
}

#alert_login{
	max-height: 40px; 
	text-align: center;
}

#alert_login p{
	margin-top: -10px; 
}

#submitBt{
	margin: 1%;
	width: 25%;
}

#formLogin label{
	padding: 0% 3%;
}

.textConteiner{
	text-align: center;
	width: 90%;
	min-height: 380px;
	padding: 4% 4%;
	margin: 0% 2% 2% 5%;
	border-radius: 10px; 
	background-color: white;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.textConteiner button{
	min-width: 120px;
}


.modelStyle{
	text-align: center;
}

#conteudo {
	background-image: url('/static/image/reading.jpg');
	background-size: cover;
	min-height: 449px;
	padding-top: 3%; 
}
footer {
	min-height: 100px;
}
