<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		

		<title> Booker - {{ title }} </title>
		<link rel="icon" href="{{ url_for('static', filename='image/icon.png') }}" type="image/icon type">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/book.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
	</head>

	<body>
		<div class="container-fluid">
			<header>
			  	<div class="row">
					<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			  			<div class="col-md-4">
					  		<div id='logo-menu'>	
								<a id='logo' href="{{url_for('books')}}">
									<h2 class="display-4"> Booker </h2>
								</a>
							</div>
							<div id='button-menu'>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
								    <span class="navbar-toggler-icon"></span>
								</button>
							</div>
						</div>
						<div class="col-md-4 offset-md-4">
						  	<div class="collapse navbar-collapse" id="navbarNavDropdown">
						    	
							    <a class="menu-item" href="{{ url_for('perfil', username=current_user.username) }}">Perfil</a>
							    <a class="menu-item isDisabled" href="">Livros</a>
							    <a class="menu-item" data-toggle="modal" data-target="#sobreModal"> Sobre </a>
							    <a class="menu-item" data-toggle="modal" data-target="#sairModal">Sair</a>
							    
						  	</div>
						</div>
					</nav>
				</div>
			</header>
		</div>

		<div class="container-fluid" id='centerPage'>
			<div class="row" id='Welcome'>
				<div class="col-md-3 header-message-align">
					<div class="card-dados btn btn-danger ">
		
						<p class="lead welcome-text"> Seja bem vindo ao Booker, {{ current_user.username }}!</p>
						
					</div>
				</div>
			
				<div class="col-md-3 buttons-conteiner">    
				    <button type="button" class="btn Selector-Button btn-outline-danger" data-toggle="modal" data-target="#InserirBook">Deseja adicionar um livro? </button>
				</div> 
				
				<div class="col-md-3 buttons-conteiner">
				    <button onclick="showmessage()" data-toggle="modal" data-target="#tipModal" type="button" class="btn Selector-Button btn-outline-danger"> Quer alguma dica? </button>
				</div>

				<div class="col-md-3 buttons-conteiner">
				    
				    <button type="button" class="btn Selector-Button btn-outline-danger dropdown-toggle" data-toggle="dropdown" id='select-bt'>
							Alguma categoria em especifico?  <span class="caret"></span>
				   	</button>

				   	{% if categorias %}
					    <ul class="dropdown-menu ul-size" role="menu">
					    	{% for x in categorias %}
					      		<li class="list-group-item">{{ x.categoria }}</li>
					      	{% endfor%}
					    </ul>
					{% endif %}
	
				</div> 
			</div>		
			<div class="row book-space">				
				<div class="col-md-3" style="padding: 10px">
					<button class="card card-size-control align-center" style="width: 18rem;">
						<div class="card-color">
						    <img class="card-img-top" src="/static/image/profilepattern.jpg" alt="Card image cap">
						  	<div class="card-body">
						  		<div style="height: 180px">
								    <h5 class="card-title">Titulo</h5>
								    <h6 class="card-subtitle mb-2 text-muted">Autor</h6>
								    <p class="card-text">Escreva um comentário ou alguma coisa sobre o livro</p>
							    </div>
							    <div class="categorias">
								    <label class="btn btn-outline-danger">Carta</label>
								    <label class="btn btn-outline-danger">Ficção Cientifica</label>
								</div>
							    <hr style="width: 100%; clear: both;">
						  	</div>
						  	<div class="card-footer-control">
						  		<a class="card-button btn btn-danger"> Excluir </a>
						  		<a class="card-button btn btn-danger"> Editar </a>
						  	</div>
					  	</div>
					</button>
				</div>

				{% for book in books %}
				
					<div class="col-md-3" style="padding: 10px">
						{% if book.lido %}
							<button class="card card-size-control align-center bg-success" style="width: 18rem;">
						{% else %}
							<button class="card card-size-control align-center bg-danger" style="width: 18rem;">
						{% endif %}	
							<div class="card-color">    
							    <a  data-toggle="modal"  data-target="#read{{book.id}}"><img class="card-img-top" src="/static/image/profilepattern.jpg" alt="Card image cap">
							    </a>
							  	<div class="card-body">
							  		<div style="height: 180px">
									    <h5 class="card-title">{{ book.titulo }}</h5>
									    <h6 class="card-subtitle mb-2 text-muted">{{ book.autor }}</h6>
									    <p class="card-text text-justify-center"> {{book.comment}} </p>
								    </div>
								    <div class="categorias">
								 	{% for category in book.categories %}
								 		{% if book.lido %}
											<label class="btn btn-outline-success"> {{ category.categoria }} </label>
										{% else %}
											<label class="btn btn-outline-danger"> {{ category.categoria }}</label>
										{% endif %}
									{% endfor %}
									</div>
								 	<hr style="width: 100%; clear: both;">
							  	</div>
							  	<div class="card-footer-control">
							  		{% if book.lido %}
							  			<a class="card-button btn btn-success" onclick="myFunction('{{book.id}}')"> Excluir </a>
								  		<a class="card-button btn btn-success" data-toggle="modal" data-target="#edit{{book.id}}"> Editar </a>
									{% else %}
								  		<a onclick="myFunction('{{book.id}}')" class="card-button btn btn-danger"> Excluir </a>
								  		
								  		<a class="card-button btn btn-danger" data-toggle="modal" data-target="#edit{{book.id}}"> Editar </a>
									{% endif %}
							  	</div>
						  	</div>
							</button>
							</button>
					</div>

					<div class="modal fade" id="edit{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  	<div class="modal-dialog modal-dialog-centered" role="document">
					    	<div class="modal-content">
					    
						      	<div class="modal-header">
						        	<h3> Editar Livro </h3>
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          	<span aria-hidden="true">&times;</span>
							        </button>
						      	</div>
						      
						      	<div class="modal-body" style="padding: 10px 30px;">
						    		<form action="{{url_for('updatebook', id=book.id)}}" method="POST" id='form-book' enctype="multipart/form-data">
							      		<div class='book-form-style'>
										    <label class="label-formart"> Titulo </label>
								  	      	{{ updatebook.titulo(value=book.titulo, class='form-control', placeholder='Titulo do Livro')}}
							  	      	</div>

							  	      	<div class='book-form-style'>
										    <label class="label-formart"> Autor </label>
										    {{ updatebook.autor(value=book.autor, class='form-control', placeholder='Nome do autor') }}
									    </div>
									    
									    <div class='book-form-style'>
										    <label class="label-formart comentario-format"> Comentário </label>
										    {{ updatebook.comentario(id=book.id, class='form-control text-control', placeholder='Adicione um comentário sobre o livro') }}
										    <script> var textarea = document.getElementById('{{book.id}}'); textarea.innerHTML = "{{ book.comment }}" </script>
									    </div>

									    <div class='book-form-style'>
								      		<label class="label-formart"> Categoria </label>
								      		{{ updatebook.categoria1(class='form-control', placeholder='Seleciona uma categoria') }}
									    </div>

										<div class='book-form-style'>
								      		<label class="label-formart"> Categoria </label>

							      			{{ updatebook.categoria2(class='form-control', placeholder='Seleciona uma categoria') }}
									    </div>
									    
									    <div class='book-form-style'>
								      		<label class="label-formart"> File </label>
								      		<div class="form-control">
										    	{{ updatebook.file(id='filePut')}}
										    </div>
										</div class='book-form-style'>

									    <div class='book-form-style' style="width: 100%; text-align: center;">
								      		{{ updatebook.lido(id='lido')}}
								      		<label id='lidoLB'>Vc leu esse livro?</label>
									    </div>
						      
							      	<div class="modal-footer">
							      		<button class="btn btn-dark" type="button" data-dismiss="modal"> Voltar </button>
										<button class="btn btn-primary" type="submit"> Salvar </button>
							      	</div>				      	
									</form>
							    </div>
							</div>
						</div>
					</div>
					{% if book.file %}
						<div class="modal fade" id="read{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						    <div class="modal-content">
						  
						      <div class="modal-body">
							  	<object data="static/files/book{{book.id}}.pdf" type="application/pdf" width="100%" height="500px;">
								    <p>Seu navegador não tem um plugin pra PDF</p>
								</object>
							  </div>

							  <div class="modal-footer">
						        <a class="btn btn-primary" style="width: 77%;" href='static/files/book{{book.id}}.pdf' download><i class="fa fa-download"></i> Download </a>

						        <button class="btn btn-dark" data-dismiss="modal" style="width: 20%;"> Fechar </button>

						      </div>

						      </div>
						    </div>
						  </div>
						</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle"> Nunca esqueça </h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p id='mensagem'class="lead text-justify" style="padding: 10px 10px; text-shadow: 1px 1px 1px #DDDDDD">  
		      			  	
				</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="sobreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle"> Sobre nós </h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p class="lead text-justify" style="padding: 10px 10px;">  
		        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et varius justo, a feugiat magna. Suspendisse pharetra luctus lacus, ut aliquam lacus bibendum nec. Ut in felis mauris. Pellentesque sollicitudin eros quam, ut laoreet leo convallis eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut quis iaculis augue, eleifend convallis magna. Aliquam commodo molestie dignissim. 
		        	<br>
		        	Donec quis elementum ipsum. Donec dapibus massa vitae ligula ultrices pharetra. Sed porttitor posuere ultricies. Cras eget rhoncus elit, quis aliquet tortor. Praesent vel sapien arcu. Proin laoreet nisl sed sapien pharetra scelerisque ac eu eros. Nam sollicitudin fringilla ligula, fermentum sollicitudin felis scelerisque quis. Donec auctor nulla id neque lobortis, sit amet vulputate orci commodo.
				</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		        <a type="button" href="" class="btn btn-primary">Doe um Café</a>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="sairModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title lead" id="exampleModalLongTitle">Logout</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p> Tem certeza que deseja fazer sair?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
		        <a type="button" href="{{ url_for('logout') }}" class="btn btn-primary">Sair</a>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="InserirBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  	<div class="modal-dialog modal-dialog-centered" role="document">
		    	<div class="modal-content">
		    
			      	<div class="modal-header">
			        	<h3> Novo Livro </h3>
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          	<span aria-hidden="true">&times;</span>
				        </button>
			      	</div>
			      
			      	<div class="modal-body" style="padding: 10px 30px;">
			    		<form action="/newBook" method="POST" id='form-book' enctype="multipart/form-data">
				      		<div class='book-form-style'>
							    <label class="label-formart"> Titulo </label>
					  	      	{{ newBook.titulo(class='form-control', placeholder='Titulo do Livro')}}
				  	      	</div>

				  	      	<div class='book-form-style'>
							    <label class="label-formart"> Autor </label>
							    {{ newBook.autor(class='form-control', placeholder='Nome do autor') }}
						    </div>
						    
						    <div class='book-form-style'>
					      		<label class="label-formart"> Categoria </label>
					      		{{ newBook.categoria1(class='form-control', placeholder='Seleciona uma categoria') }}
						    </div>

							<div class='book-form-style'>
					      		<label class="label-formart"> Categoria </label>
				      			{{ newBook.categoria2(class='form-control', placeholder='Seleciona uma categoria') }}
						    </div>
						    
						    <div class='book-form-style'>
							    <label class="label-formart comentario-format"> Comentário </label>
					      		{{ newBook.comentario(class='form-control text-control', placeholder='Adicione um comentário sobre o livro') }}
						    </div>
						    
						    <div class='book-form-style'>
					      		<label class="label-formart"> File </label>
					      		<div class="form-control">
							    	{{ newBook.file(id='filePut')}}
							    </div>
							</div class='book-form-style'>

						    <div class='book-form-style' style="width: 100%; text-align: center;">
					      		{{ newBook.lido(id='lido')}}
					      		<label id='lidoLB'>Vc leu esse livro?</label>
						    </div>
			      
				      	<div class="modal-footer">
				      		<button class="btn btn-dark" type="button" data-dismiss="modal"> Voltar </button>
							<button class="btn btn-primary" type="submit"> Confirmar </button>
				      	</div>				      	
						</form>
				    </div>
				</div>
			</div>
		</div>
	
		


		<footer class="bg-primary">
		    <div class="footer-p">
		    	<p class="text-light small mb-4 mb-lg-0">© Booker 2020. Todos os direitos reservados.</p>
		    </div>
		</footer>

			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="{{ url_for('static', filename='js/books.js')}}"></script>

	</body>

</html>