<!DOCTYPE html>
<html lang="pt-br">

<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content="width=device-width, initial-scale=1">
	
	<title> Booker - {{ title }} </title>
	<link rel="icon" href="{{ url_for('static', filename='image/icon.png') }}" type="image/icon type">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	
</head>

<body>
	<header>
		<div class="container-fluid">
		  	<div class="row">
				<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  			<div class="col-md-4">
				  		<div id='logo-menu'>	
							<a id='logo' href="/">
								<h2 class="display-4"> Booker </h2>
							</a>
						</div>
						<div id='button-menu'>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							    <span class="navbar-toggler-icon"></span>
							</button>
						</div>
					</div>
					<div class="col-md-4 offset-md-3">
					  	<div class="collapse navbar-collapse" id="navbarNavDropdown">
					    	
						    <a class="menu-item text-light" href="">About Us</a>
						    <a class="menu-item text-light" href="">Donate</a>
						    <a class="menu-item text-light" href="">Git</a>
						    <a class="menu-item text-light" href="">Linked In</a>
						    
					  	</div>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div id='conteudo' class="row">
			<div class="col-md-5 offset-md-1">
				<div class="textConteiner">
					<div id='formLogin'>
						<form action=""  method="POST">
							
							{{ lform.csrf_token }}
							<h2 class=""> Login </h2>
							<hr>
							<div class="form-group">
							<label> Username </label>
							{{ lform.username(class='form-control', placeholder='Type username here') }}
							</div>
							
							<div class="form-group">
							<label> Password </label>
							{{ lform.password(class='form-control', placeholder='Type password here') }}
							</div>

							<div class="checkbox">
							{{ lform.remember_me }}
							<label> Remember me </label>
							</div>
									
							<button id='submitBt' type='submit' class="btn btn-info"> Sign In </button>
							
							<button id='register' type='button' class="btn btn-info" data-toggle="modal" data-target="#exampleModal"> Register </button>

							{% with messages = get_flashed_messages() %}
								{% if messages and messages[0][0] == 'l'%}
									<div class="alert alert-warning" id='alert_login'>						    	
									    {% for message in messages %}
									    	{% if message[0] == 'l'%}
									      		<p class="lead">{{ message[2:] }}</p>
									    	{% endif %}
									    {% endfor %}
							    	</div>
							    {% endif %}
							{% endwith %}

						</form>
						
					</div>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="textConteiner">
					<h2 class=""> What is the Booker Repository? </h2> 
					<hr/>
					<p class='text-justify lead'>
						 Just like his name, Booker is a repository where you control witch book your reading or read. It's useful when you want to indicate a book to a friend and you do not remeber its name, then you come to Booker and indicate books to him, easy 
						 and fast.  
							 
					</p>
				</div>
			</div>
			



			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
			    	<div class="modal-content">
			        	
			        	<div class="modal-header">
					        <h3 class="modal-title" id="exampleModalLabel">New User</h3>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					        	<span aria-hidden="true">&times;</span>
					        </button>
				        </div>
			        
				        <div class="modal-body">
							<div class="modelStyle">
								<form action=""  method="POST">				        	
						        	{{ rform.csrf_token }}
						        	<div class="form-group">
						        		<label> Username </label>
						       		 	{{rform.username(class='form-control', placeholder='Type username here')}}
						       		</div>
						       		<div class="form-group">
						       			<label> Password </label>
						       		 	{{rform.password(class='form-control', placeholder='Type password here')}}
						       		</div> 	
						       		<div class="form-group">
						       			<label> Complete Name </label>
						       		 	{{rform.name(class='form-control', placeholder='Type name here')}}
						       		</div> 
						       		<div class="form-group">
						       		<label> Email Adress </label>	
						       		 	{{rform.email(class='form-control', placeholder='Type Email here')}}
						       		</div>
						       		<div class="checkbox">	
						       		 	{{rform.terms}}
						       		 	<a href=""> I Agree with terms of use </a>
						       		</div>
						       		{% with messages = get_flashed_messages() %}
									    {% if messages %}
											<div class="alert alert-warning">
											    {% for message in messages %}
											    	{% if message[0] == 'r'%}
											      		<p class="lead">{{ message[2:] }}</p>
											    	{% endif %}
											    {% endfor %}
									    	</div>
									    {% endif %}
									{% endwith %}
						       	
						    </div>
				        </div>

				        <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					        <button href='' type="submit" class="btn btn-primary">Confirm</button>
					        </form>
				        </div>
			    	
			    	</div>
			    </div>
			</div>


			<div id='rightContainer' class="col-sm-1">

			</div>	
		</div>
	</div>

	<footer class="bg-primary">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	</footer>

</body>
</html>

