<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name='viewport' content="width=device-width, initial-scale=1">

		<title> Booker - {{ title }} </title>
		<link rel="icon" href="{{ url_for('static', filename='image/icon.png') }}" type="image/icon type">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}">
		
	</head>
	
	<body>
		<header>
			<div class="container-fluid">
			  	<div class="row">
					<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			  			<div class="col-md-4">
					  		<div id='logo-menu'>	
								<a id='logo' href="{{url_for('books')}}">
									<h2 class="display-4"> Booker </h2>
								</a>
							</div>
							<div id='button-menu'>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
								    <span class="navbar-toggler-icon"></span>
								</button>
							</div>
						</div>
						<div class="col-md-4 offset-md-4">
						  	<div class="collapse navbar-collapse" id="navbarNavDropdown">
						    	
							    <a class="menu-item isDisabled" href="{{ url_for('perfil', username=current_user.username) }}">Perfil</a>
							    <a class="menu-item" href="{{ url_for('books') }}">Livros</a>
							    <a class="menu-item" data-toggle="modal" data-target="#sobreModal"> Sobre </a>
							    <a class="menu-item" data-toggle="modal" data-target="#sairModal">Sair</a>
							    
						  	</div>
						</div>
					</nav>
				</div>
			</div>
		</header>

		<div id='centerpage'>
			

		</div>

		<div class="modal fade" id="sairModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title lead" id="exampleModalLongTitle">Logout</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p> Tem certeza que deseja fazer sair?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
		        <a type="button" href="{{ url_for('logout') }}" class="btn btn-primary">Sair</a>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="sobreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle"> Sobre nós </h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p class="lead text-justify" style="padding: 10px 10px;">  
		        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et varius justo, a feugiat magna. Suspendisse pharetra luctus lacus, ut aliquam lacus bibendum nec. Ut in felis mauris. Pellentesque sollicitudin eros quam, ut laoreet leo convallis eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut quis iaculis augue, eleifend convallis magna. Aliquam commodo molestie dignissim. 
		        	<br>
		        	Donec quis elementum ipsum. Donec dapibus massa vitae ligula ultrices pharetra. Sed porttitor posuere ultricies. Cras eget rhoncus elit, quis aliquet tortor. Praesent vel sapien arcu. Proin laoreet nisl sed sapien pharetra scelerisque ac eu eros. Nam sollicitudin fringilla ligula, fermentum sollicitudin felis scelerisque quis. Donec auctor nulla id neque lobortis, sit amet vulputate orci commodo.
				</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		        <a type="button" href="" class="btn btn-primary">Doe um Café</a>
		      </div>
		    </div>
		  </div>
		</div>


		<footer class="bg-primary">
		    <div class="footer-p">
		    	<p class="text-light small mb-4 mb-lg-0">© Booker 2020. Todos os direitos reservados.</p>
		    </div>

		    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			
		</footer>

	</body>

</html>